<section class="section contact-form">
  <h1 class="title">Contact form</h1>
  <div class="row">
    <div class="col-lg-12">
      <form class="form" action="post">
        <label class="label" for="#name">Nome</label>
        <input type="text" class="input" id="name" required>
      
        <label class="label" for="#email">E-mail</label>
        <input type="text" class="input" id="email" required>
      
        <label class="label" for="#message">Mensagem</label>
        <textarea name="message"  class="textarea" id="message" required></textarea>

        <button class="button">
          <input class="input" type="submit">
          Enviar
        </button>
      </form>
    </div>
  </div>
</section>
