<div class="profile">
  <div class="row">
    <div class="col-12">
      <section class="section basic-info">
        <app-form class="form form-basic-info" id=form-basic-info name="form-basic-info" action="submit" target="_self">
          <app-image class="profile-picture" src={{profileImage}} alt="My profile image"></app-image>
          <app-textarea class="bio-profile">{{profileBio}}</app-textarea>
          <app-input text="First name" type="text" class="input first-name" id="first-name" name="first-name" value={{firstName}}>
          </app-input>
          <app-input text="Last name" type="text" class="input last-name" id="last-name" name="last-name" value={{lastName}}></app-input>
          <app-input text="Birthday" type="date" class="birthday" id="birthday" name="birthday" value={{birthday}}></app-input>
          <app-input text="Address" type="text" class="input address" name="address" value={{address}}></app-input>
          <app-dropdown class="gender" id="gender" name="gender" content={{gender}}></app-dropdown>
        </app-form>
      </section>
      <section class="section password">
        <app-form class="form form-password" id=form-password name="form-password" action="submit" target="_self">
          <app-input text="Password" type="text" class="input password" id="password" name="password" value={{password}}></app-input>
          <app-input text="Password confirmation" type="text" class="input password" id="password-confirmation"
            name="password-confirmation" value={{passwordConfirmation}}></app-input>
        </app-form>
      </section>
      <section class="section email">
        <app-form class="form form-email" id=form-email name="form-email" action="submit" target="_self">
          <app-input text="E-mail" type="text" class="input email" name="email" value={{email}}></app-input>
          <app-input text="E-mail confirmation" type="text" class="input email" id="email-confirmation"
            name="email-confirmation" value={{emailConfirmation}}></app-input>
        </app-form>
      </section>
      <section class="section astrological-info hide">
        <app-form class="form form-astrological-info" id=form-astrological-info name="form-astrological-info"
          action="submit" target="_self">
          <app-input text="Birth time" type="time" class="input birth-time" name="birth-time" value={{birthTime}}></app-input>
          <app-input text="Birth address" type="text" class="input birth-address" name="birth-address" value={{birthAddress}}></app-input>
        </app-form>
      </section>
      <section class="section match-info">
        <app-form class="form form-match-info" id=form-match-info name="form-match-info" action="submit" target="_self">
          <app-dropdown class="sex-orientation" id="sex-orientation" name="sex-orientation" content={{sexOrientation}}></app-dropdown>
          <app-dropdown class="relationship-looking" id="relationship-looking" name="relationship-looking"
            content={{relationshipLooking}}></app-dropdown>
          <app-dropdown class="actual-relationship" id="actual-relationship" name="actual-relationship"
            content={{actualRelationship}}></app-dropdown>
          <app-dropdown class="body-type" id="body-type" name="body-type" content={{bodyType}}></app-dropdown>
          <app-input text="Height" type="number" class="input height" name="height" value={{height}}></app-input>
          <app-dropdown class="ethnicity" id="ethnicity" name="ethnicity" content={{ethnicity}}></app-dropdown>
          <app-dropdown class="politics" id="politics" name="politics" content={{politics}}></app-dropdown>
          <app-dropdown class="languages" id="languages" name="languages" content={{languages}}></app-dropdown>
          <app-dropdown class="education" id="education" name="education" content={{education}}></app-dropdown>
          <app-dropdown class="employment" id="employment" name="employment" content={{employment}}></app-dropdown>
          <app-dropdown class="religion" id="religion" name="religion" content={{religion}}></app-dropdown>
          <app-input text="Favorite music" type="text" class="input favorite-music" name="favorite-music"></app-input>
          <app-input text="Favorite book" type="text" class="input favorite-book" name="favorite-book"></app-input>
          <app-dropdown class="Cigarrette" id="cigarrette" name="cigarrette" content={{cigarrette}}></app-dropdown>
          <app-dropdown class="Marijuana" id="marijuana" name="marijuana" content={{marijuana}}></app-dropdown>
          <app-dropdown class="Drinking" id="drinking" name="drinking" content={{drinking}}></app-dropdown>
          <app-dropdown class="Diet" id="diet" name="diet" content={{diet}}></app-dropdown>
          <app-dropdown class="morning-person" id="morning-person" name="morning-person" content={{morningPerson}}>
          </app-dropdown>
          <app-dropdown class="children" id="children" name="children" content={{children}}></app-dropdown>
          <app-dropdown class="pet" id="pet" name="pet" content={{pet}}></app-dropdown>
          <app-dropdown class="tatto" id="tatto" name="tatto" content={{tatto}}></app-dropdown>
          <app-dropdown class="musical-style" id="musical-style" name="musical-style" content={{musicalStyle}}>
          </app-dropdown>
          <app-dropdown class="interests" id="interests" name="interests" content={{interests}}></app-dropdown>
        </app-form>
      </section>
      <section class="section partner-idealization">

      </section>
    </div>
  </div>
</div>
