#root {
  overflow: hidden; }

ul {
  padding-left: 0;
  list-style: none; }

a, a:hover {
  text-decoration: none; }

body {
  font-size: 16px;
  color: #000000; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 20px; }

.hide {
  display: none; }

.bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%; }

input {
  width: 100%; }

.content {
  max-width: 1200px; }

.content, .button {
  margin: auto;
  display: none; }

.button, input {
  height: 40px; }

.button {
  width: 180px;
  padding: 10px 20px 10px 20px; }

.content, .footer, .header {
  padding: 20px; }

@media (max-width: 991px) {
  .hide-desk {
    display: none; } }

@media (min-width: 992px) {
  .hide-mobile {
    display: none; } }
