<section class="search-form">
  <h1 class="title">Gif search</h1>
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label class="label" for="limit">Limite</label>
      <input type="text" class="input" placeholder="0" #limit>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <label class="label" for="term">Termo de busca</label>
      <input type="text" class="input" placeholder="Termo" #term (keyup.enter)="search(limit.value, term.value)">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <!-- event bind -->
      <button class="button btn btn-primary" (click)="search(limit.value, term.value)">
        Pesquisar
      </button>
    </div>
  </div>
</section>