input {
  height: 40px;
  margin-bottom: 10px;
  padding: 5px 10px 5px 10px;
}
.bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media(max-width: 1024px) {
  .hide-mobile {
    display: none !important;
  }
}
@media(min-width: 1025px) {
  .hide-desk {
    display: none !important;
  }
  .main {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .header .navbar {
    height: 80px;
  }
}
body, .text {
  font-size: 16px;
  line-height: 18px;
}
a, a:hover {
  color: #212529;
}
.container {
  width: 100%;
  height: 100%;
  padding: 20px;
}
.title, .subtitle {
  text-align: center;
}
.button, .applicant, .applicant .button {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.row {
  margin-bottom: 20px;
}
.button, .input {
  margin-top: 20px;
}
.button {
  height: 30px;
  padding: 5px 20px 5px 20px;
  display: block;
  margin-bottom: 30px;
  border-radius: 10px;
}
.button:hover {
  opacity: 0.85;
}
.container {
  max-width: 500px;
  margin: 0 auto;
  display: block;
}
ul {
  padding-left: 0;
}

/* applicant app */
.applicant-container .input {
  border-radius: 10px;
  border: 1px solid grey;
}
.applicant-list-item {
  background-color: #256ce6;
  color: #FFFFFF;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
}
.applicant-list-item:hover {
  opacity: 0.8;
}
/* end */

/* music app */
.album-list-item, .artist-name {
  text-align: left;
}
.music-app .album, .music-app .price, .music-app .search-container .input, .music-app .image.bg {
  display: block;
}
.music-app .search-container .input {
  border-radius: 30px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #c9c9c9c9;
}
.music-app .album-list-item {
  margin-top: 30px;
  margin-right: 15px;
  display: inline-block;
  vertical-align: top;
  width: 40%;
  margin-left: 15px;
}
.music-app .album-list-item, .music-app .image.bg {
  margin-bottom: 30px;
}
.music-app .image.bg {
  width: 100%;
  height: 170px;
}
/* end */