<footer class="main-footer">
    <div class="row">
        <div class="col-4">
            <a href="" class="link">
                <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
            </a>
        </div>
        <div class="col-4">
            <a href="" class="link">
                <fa-icon [icon]="faComment"></fa-icon>
            </a>
        </div>
        <div class="col-4">
            <a href="" class="link">
                <fa-icon [icon]="faRightFromBracket"></fa-icon>
            </a>
        </div>
    </div>
</footer>