.profile .picture .image {
    max-width: 120px;
    border-radius: 50%;
}

.flag .image {
    max-width: 30px;
}

.city {
    display: inline;
}

.picture {
    display: block;
    text-align: center;
}

img,  p {
    margin: 10px;
}