<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/de644b2ac7.js" crossorigin="anonymous"></script>

<header class="header">
    <div class="row">
        <div class="col-4 sm-4">
            <a href="/profile-edit" class="basic-info">
                <picture class="profile">
                    <img class="image" src="../../../assets/images/profile-male.png" alt="your profile picture">
                </picture>
                <p class="city">Florianópolis</p>
                <picture class="country-flag">
                    <img class="image" src="../../../assets/images/flag.jpg" alt="your country flag">
                </picture>
            </a>
        </div>
        <div class="col-4 sm-4">
            
        </div>
        <div class="col-4 sm-4">
            
        </div>
    </div>
</header>